---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: vdclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: VDCluster
    listKind: VDClusterList
    plural: vdclusters
    singular: vdcluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VDCluster is the Schema for the vdclusters API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VDClusterSpec defines the desired state of VDCluster.
            properties:
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the control plane.
                minProperties: 1
                properties:
                  host:
                    description: host is the hostname on which the API server is serving.
                    maxLength: 512
                    minLength: 1
                    type: string
                  port:
                    description: port is the port on which the API server is serving.
                    format: int32
                    maximum: 65535
                    minimum: 1
                    type: integer
                type: object
                x-kubernetes-validations:
                - message: port must be within 1-65535
                  rule: self.port > 0 && self.port < 65536
            type: object
          status:
            description: VDClusterStatus defines the observed state of VDCluster.
            properties:
              ready:
                default: false
                description: Ready indicates that the cluster is ready.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
